<h1><%= @game.name %> - <%= @game.date %></h1>
<h2>Scores</h2>
<ul>
  <% @scores.each do |score| %>
    <li>
      <%= link_to "#{score.player}: #{score.points} points", edit_game_score_path(@game, score) %>
    </li>
  <% end %>
</ul>
<%= link_to "Add Score", new_game_score_path(@game) %>
<%= link_to "back", games_path() %>
